<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer Output</h1>
    <h2>Input Phrase: <%= @input_phrase %><h2>
    <h2>Piglatized Version: <%= @piglatinized_phrase %><h2>
  </body>
</html>