<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form>
      <label>Enter your phrase:</label>
      <input name="user_phrase"></input>
    </form>

  </body>
</html>
